<%- include("partials/_header") %>

  <body style="background-color: #e3f2fd;">
    <div class="container mx-auto mt-5" style="max-width: 800px;">
      <p class="h4 text-center">Add New Patient</p>

      <div class="mt-5">
        <% if (typeof error !=='undefined' && error) { %>
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>
              <%= error %>
            </strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          <% } else if (typeof success !=='undefined' && success) { %>
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
              <strong>
                <%= success %>
              </strong>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <% } %>
              <form action="/add-patient" method="post">


                <!-- Patient Name field -->
                <div class="row mb-3">
                  <label for="patientName" class="col-sm-2 col-form-label">
                    <p class="h6">Patient Name</p>
                  </label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="patientName" name="patient_name"
                      placeholder="Enter Patient Name" required>
                  </div>
                </div>

                <!-- Patient Age field -->
                <div class="row mb-3">
                  <label for="patientAge" class="col-sm-2 col-form-label">
                    <p class="h6">Patient Age</p>
                  </label>
                  <div class="col-sm-10">
                    <input type="number" class="form-control" id="patientAge" name="patient_age"
                      placeholder="Enter Patient Age" required>
                  </div>
                </div>

                <!-- Patient Gender field -->
                <div class="row mb-3">
                  <label for="patientGender" class="col-sm-2 col-form-label">
                    <p class="h6">Patient Gender</p>
                  </label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="patientGender" name="patient_gender"
                      placeholder="Enter Patient Gender" required>
                  </div>
                </div>

                <!-- Patient Blood Group field -->
                <div class="row mb-3">
                  <label for="patientBloodGroup" class="col-sm-2 col-form-label">
                    <p class="h6">Patient BloudGroup</p>
                  </label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="patientBloodGroup" name="patient_bloodgroup"
                      placeholder="Enter Patient BloodGroup">
                  </div>
                </div>

                <!-- Patient Whatsapp field -->
                <div class="row mb-3">
                  <label for="patientWhatsapp" class="col-sm-2 col-form-label">
                    <p class="h6">Patient Mobile</p>
                  </label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="patientWhatsapp" name="patient_whatsapp_number"
                      placeholder="Enter Patient Mobile/Whatsapp">
                  </div>
                </div>

                <!-- Patient Email field -->
                <div class="row mb-3">
                  <label for="patientWhatsapp" class="col-sm-2 col-form-label">
                    <p class="h6">Patient Email</p>
                  </label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="patientWhatsapp" name="patient_email"
                      placeholder="Enter Patient Email">
                  </div>
                </div>

                <!-- Patient Address field -->
                <div class="row mb-3">
                  <label for="patientAddress" class="col-sm-2 col-form-label">
                    <p class="h6">Patient Address</p>
                  </label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="patientAddress" name="patient_address"
                      placeholder="Enter Patient Address">
                  </div>
                </div>


                <div class="mb-3 text-center">
                  <button type="submit" class="btn btn-primary">Save</button>
                </div>
              </form>

      </div>
    </div>
  </body>



  <%- include("partials/_footer") %>